/*para efectos de cambio de pagina*/

.pasar-pagina{
	display: flex;
	justify-content: center;

}

.pasar-pagina h3{
	color: #00c3f8;
	padding: 0 10px;
}

.pasar-pagina a{
	text-decoration: none;
	padding: 0 20px;
	color:#064154 ;

}

.pasar-pagina a:hover{
	color: #00c3f8;
}