/*Aqui los Accesorios Tecnologicos CSS*/

div h1{
	background:#04b4ae;
	border: 3px solid #064154;
}

h1{
	text-align: center;
	font-size: 40px;
	color: #064154;
}

#galeria{
	padding: 40px 0;
	display: flex;
	text-align: center;
	height: auto;
	width: auto;
	
}

#galeria div {
	padding: 8px;

	

}

#galeria div img{
	height: auto;
	width: auto;
	max-width: 200px;
	height: 200px;
	margin: auto;
	height: auto;
	width: auto;
	

}

#galeria div .articulo{
	color: #1a2579;
	font-size: 15px;
	padding: 4px 2px;

}

#galeria div p{
	color: #4d5087;
	font-size: 18px;
	font-weight: 400;
	padding: 10px 0;

}

.boton-comprar{
	display: inline-block;
	text-decoration: none;
	color: #4d5087;
	padding: 5px 5px;
	border: 3px solid #4d5087;
	border-radius: 30px;
	margin-top: auto;
	transition: all 0.5s;


}
 input[type=submit]{
	display: inline-block;
	text-decoration: none;
	color: #4d5087;
	padding: 5px 5px;
	border: 3px solid #4d5087;
	border-radius: 30px;
	margin-top: auto;
	transition: all 0.5s;
}

.boton-comprar:hover{
	background: #4d5087;
	color: #fff;
}