/* trabanjado con la pag Web entera*/

*{
	margin: 0;
	padding: 0;
	font-family: sans-serif,arial,Verdana;
}

/* Header */

header {
	height: 100px;
	background: #04b4ae;
	padding: 0 50px;
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo{
	color: #064154;
	font-weight: 200;
	border: 3px solid #064154;
	padding: 8px 8px;
}

.menu a{
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	padding: 0 10px;	
	transition: 0,4s ; 
}

.mostrar-menu,
.esconder-menu{

	font-size: 30px;
	cursor: pointer;
	display: none;
	transition: 0,5s;
}

.mostrar-menu{
	order: 1;
}

.menu a:hover,
.mostrar-menu:hover,
.esconder-menu:hover{
	color: #0b615e;
}

#check{
	display: none;
}

