body{
	margin: auto;
	background: url('../fotos/galaxy.png') no-repeat;
	background-size: 100%;
	border: 10px solid black;
	padding: 0px;
}
	
header {
	text-align: center;
	padding-top: 30px;
	margin-left: 100px;
	margin-right: 100px;
}

header div {
	border: 10px solid black;
	background: #707b7c;
}

header h1{
	font-size: 75px;
	color: #fff;
	font-weight: 36;
}

.tiempo{
	background: url('../fotos/time.png') no-repeat;
	background-size: 100%;
	animation: movimiento 10s infinite linear alternate;
}

@keyframes movimiento{

	from{
		background-position: bottom left ;
	}

	to{
		background-position: top right;
	}
}


.imagenes section {
	margin-top: 50px;
	display: flex;
	padding: 3px 1px;
	border: 10px solid  #454864;
	background: #020414 ;

}


img{
	width: 200px;
	height: 250px;
	border-radius: 30px;

}

.fotos{

	background: url('../fotos/i.png') no-repeat;
	width: 99%;
	height:280px ;
	animation: mover 25s infinite linear alternate ;
	margin-bottom: 300px;
	padding-bottom: 380px;
	border: 10px solid black;
}



@keyframes mover{

	from{
		background-position: left ;
	}

	to{
		background-position:right;
	}
}


.img img:hover{
	width: 230px;
	height: 280px;
	transition: 0.5s;
}

.img img{
	border: 8px solid black;
}

.img{
	
	padding: 10px 22px;
}